body, html {	
font-family: "Open Sans", sans-serif;
font-family: "Roberto Slab", serif;
margin: 0px;
height: 100%;
width: 100%;
background: /*#00aeef*/#c4d9ff;
position: relative;
}

/*HOME PAGE*/

.door{
    width:40%;
    height: auto;
    position: absolute;
    left: 27%;
    top: 10%;
    /*animation: float 2s ease-in 0s infinite;*/
}

.questionmark{
	width:5%;
    height: auto;
    position: absolute;
    left: 42%;
    top: 40%;
    /*animation: float 2s ease-in 0s infinite;*/

   
}

.exclamationmark{
	width:5%;
    height: auto;
    position: absolute;
    left: 54%;
    top: 40%;
 

}

.textdoor{
	font-family: "Roberto Slab", serif;
	font-size: 50px;
	color: #e9c77B;
	position: absolute;
	left: 43%;
    top: 25%;
    text-shadow: 0 0 3px #e9c77B;
    z-index: 0;
 
}

.textleft{
	font-family: "Roberto Slab", serif;
	font-size: 55px;
	color: #e9c77B;
	transform: perspective(500px) rotateY(52deg) rotateZ(-5deg);;
	position: absolute;
	left: 40%;
    top: 65%;
    z-index: 1;
    
}

.textright{
	font-family: "Roberto Slab", serif;
	font-size: 50px;
	color: #e9c77B;
	transform: perspective(500px) rotateY(-52deg) rotateZ(0deg);;
	position: absolute;
	left: 50.5%;
    top: 65%;
    z-index: 1;

}

.textleft:hover{
	cursor: pointer;
	color: white;

}

.textright:hover{
	cursor: pointer;
	color: white;
}

.textbackgroundleft{
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
	position: absolute;
	top: 45%;
	left: 5%;
	color: /*#193446*/ black;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.textbackgroundright{
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
	position: absolute;
	top: 45%;
	left: 75%;
	color: /*#193446*/ black;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

a:link{
  color:black;
}
a:visited{
  color:black;
}
a:hover{
  color:#e9c77B;
}
a:focus{
  color:#e9c77B;
}
a:active{
  color:#e9c77B;
}

.textleft:hover + .questionmark {
    transform: rotate(360deg);
    transition: 1.5s;
    /*animation: float 2s ease-in 0s infinite;*/
}

.textright:hover + .exclamationmark {
    transform: rotate(360deg);
    transition: 1.5s;
}

@keyframes spin {
	0% {
		transform: rotate(360deg);
		animation-timing-function: ease-in-out;
	}
	
	100% {
		transform: rotate(-360deg);
		animation-timing-function: ease-in-out;
	}
}

@keyframes float {
	0% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(5px);
	}
}


/*ABOUT PAGE*/

.header{
	background:white;
	width: 100%;
	height: 100%;
	position: relative
}

.item1{
	font-family: "Roberto Slab", serif;
	font-size: 100px;
	position:absolute;
	top: 25%;
	left:15%;
}

.item2{
	color:white;
}

.item3{
	color:white;

}

.grid-container{
	display:grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%
  	width: 100vw;
  	height: 100vh;
}

.lower{
	background:black;
	width: 100vw;
  	height: 100vh;
}

.nav-item{
	float:left;
	margin:30px;
	font-family: "Roberto Slab", serif;
	font-size: 20px;
	
}

.nav{
	position: absolute;
	right: 5%;
}

.nav-item:hover{
	cursor: pointer;
}


/*PROJECTS PAGE*/

.project-grid-container{
	display:grid;
    grid-template-rows: 30% 10% 60%;
    grid-template-columns: 50% 50%
  	width: 100vw;
  	height: 100vh;
  	background:black;
}

.nav-item-active{
	float: left;
	margin:30px;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	display: inline-block;
	border-radius: 4px;
	background-color: red;
	border: none;
	color: white;
	text-align:center;
	padding:20px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
}

.projectnav{
	color:white;
	
}
